header{
			font-size: 50px;
      		text-align:center;
           	background-color:orchid;
      		padding:10px;
      		color: white;
                   border-radius: 600px;
}

h2{
	color: white;
}

blockquote{
  text-align: right;
}
footer{
      		text-align:center;
      		font-size:11px;
      		font-weight: 400;
      }

.contact{
	font-size: 20px;
	font-weight: 700;
	color: white;
  width: 25%;


}

.welcome{
  background-color: coral;
  font-size: 15px;
  color: black;
  width: 60%;
  float:right;
  text-align: center;
  padding: 25px

}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: saddlebrown;
  color: white;
}

a:link{
	color:aqua;
	text-decoration:none;
}

a:visited {
  color: aqua;
}

a:hover {
  color: yellow;
}

.nav a {
  float:;
  color: grey;
  text-align: center ;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover{
	background-color: #555555;
  color: black;
}

.nav a.active {
  background-color: orchid;
  color: white;
}

body{
	background-image: url("images/background2.jpg");
    position: relative;
    background-attachment: center;
    background-size: cover;
	background-repeat: no-repeat;
    padding: 2rem;
	border-radius: 0;
	color: grey;
	width:960px;
	margin: auto;	
	opacity: .9;
	font-family: bookman old style, serif;

}

.bg{
	background-color: mistyrose;
	margin: auto;
	padding: 2rem;
	background-position: fixed;
}

#gallery_blog{

	padding: 2rem;
	background-color: #333333;
	margin: 0;
	color:white;
	font-family:booksmans old style, serif;
	font-style: italic;
  font-size: 17px;


}

.blog{
  padding: 2rem;
  background-color: #333333;
  margin: 0;
  color:white;
  font-family:booksmans old style, serif;
  font-style: none;
  font-size: 20px;
  width: 70%;
  }
.aboutblog{
  background-color: mistyrose;
  text-align: center;
  float:right;
  width:20%;
  padding:10px;
  
}

#more {
  display: none;
}

figure{
	display: inline-block;
	text-align: center;
}

.bio {
    float: right;
    padding: 10px;
}
.about{
  float: right;
  padding: 10px;
}

.simple-subscription-form {
  background: orchid;
  color: black;
  padding: 2rem;
  border-radius: 0;
  font-size: 115%
}

.simple-subscription-form .button {
  margin-bottom: 0;
  border-radius: 0 0 0 0;
}

img {
    max-width: 100%;
    height: auto;
}